*{
    /* padding: 0px;
    margin: 0px; */
    box-sizing: border-box;
}

@font-face {
    font-family: h1_font;
    src: url(fonts/Bungee_Shade/BungeeShade-Regular.ttf);
}

@font-face {
    font-family: h2_font; 
    src: url(fonts/Bungee_Outline/BungeeOutline-Regular.ttf);
}

@font-face {
    font-family: nav_child_2_font; 
    src: url(fonts/Barlow_Condensed/BarlowCondensed-Bold.ttf);
}

@font-face {
    font-family: p_font; 
    src: url(fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Light.ttf);
}

@font-face {
    font-family: list_font; 
    src: url(fonts/Barlow_Condensed/BarlowCondensed-Thin.ttf);
}

@font-face {
    font-family: h4_font; 
    src: url(fonts/Barlow_Condensed/BarlowCondensed-Bold.ttf);
}

html{
    /* height: 100%; */
}

body{
    /* height: 100%; */
    background-image: url(images/hendrix_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: p_font;
}

img{
    border-radius: 10px;
    height: 400px;
    width: 400px;
    margin-bottom: 2%;
}

section{
    display: grid;
    background-color: rgba(1, 1, 1, 0.3);
    border-radius: 10px;
    border: 2px solid white;
    margin: 1vw; /*ska vara samma som nav*/
    color: white;
}

section:nth-of-type(1){
    display: grid;
    grid-template-rows: 1fr 0.2fr;
    /* grid-template-columns: auto 1fr auto; */
    grid-template-columns: auto auto auto auto;
}

/* .under_album ol{
    display: flex;
    flex-direction: column;
} */

section > *{
    /* margin: 10px; */
    margin: 1vw;
}


nav{
    display: flex;
    gap: 10px;
    margin: 1vw; /* Ska vara samma som i section */
}

nav > a{
    flex-basis: 0;
    flex-grow: 1;
    
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);

    text-decoration: none;
    text-align: center;
    color: black;
}

a:nth-child(2)
{
    font-family: nav_child_2_font;
    border: 1px solid white;
    box-shadow: 0px 0px 20px white;
    
}

main{
    background-color: rgba(1, 1, 1, 0.3);
    margin: 50px;
    padding: 10px;
    border-radius: 10px;
}

h1{
    margin: 0px;
    font-family: h1_font;
    color: rgba(255, 255, 255, 0.7);
    font-size: 60px;
}

h2{
    font-family: h2_font;
}

.album_container{
    grid-row: 1;
    grid-column: 4;
}

.under_album{
    display: flex;
    justify-content: space-around;
    border-radius: 0px 0px 0px 10px;
    font-weight:bolder;
    color: #881f5a;
    gap: 3%;
}

.under_album > :first-child{
    border-radius: 0px 0px 0px 10px;
    flex-basis: 49%;
    background-color: #dfc300;
    font-family: list_font;
}

.under_album > :last-child{
    border-radius: 0px 0px 10px 0px;
    flex-basis: 49%;
    background-color: #dfc300;
}
h4{
    font-family: h4_font;
}
.bottom{
    grid-column-start: 2;
    grid-column-end: 4;
}