*{
    box-sizing: border-box;
}

@font-face {
    font-family: h1_font;
    src: url(fonts/Bungee_Shade/BungeeShade-Regular.ttf);
}

@font-face {
    font-family: h2_font; 
    src: url(fonts/Bungee_Outline/BungeeOutline-Regular.ttf);
}

@font-face {
    font-family: nav_child_2_font; 
    src: url(fonts/Barlow_Condensed/BarlowCondensed-Bold.ttf);
}

@font-face {
    font-family: p_font; 
    src: url(fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Light.ttf);
}

@font-face {
    font-family: list_font; 
    src: url(fonts/Barlow_Condensed/BarlowCondensed-Thin.ttf);
}

@font-face {
    font-family: h4_font; 
    src: url(fonts/Barlow_Condensed/BarlowCondensed-Bold.ttf);
}

body{
    background-image: url(images/hendrix_background.jpg);
    background-size: cover;
    background-attachment: fixed; 

    background-repeat: no-repeat;
    font-family: p_font;
}
section{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    background-color: rgba(1, 1, 1, 0.3);
    border-radius: 10px;
    border: 2px solid white;
    margin: 1vw; /*ska vara samma som nav*/
    color: white;
}

section:nth-of-type(1){
    display: grid;
}

section > *{
    /* margin: 10px; */
    margin: 1vw;
}


nav{
    display: flex;
    gap: 10px;
    margin: 1vw; /* Ska vara samma som i section */
}

nav > a{
    flex-basis: 0;
    flex-grow: 1;
    
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);

    text-decoration: none;
    text-align: center;
    color: black;
}

nav a:not(:nth-child(2)):hover{
    background-color: rgba(1, 1, 1, 0.6);
    color: white;
}

a:nth-child(2)
{
    cursor: default;
    font-family: nav_child_2_font;
    border: 1px solid white;
    box-shadow: 0px 0px 20px white;
    
}

main{
    background-color: rgba(1, 1, 1, 0.3);
    margin: 50px;
    padding: 10px;
    border-radius: 10px;
}

.album_container > img{
    border-radius: 10px;
    height: 400px;
    width: 400px;
    margin-bottom: 2%;
    transition: opacity 1s;
}

.album_container > img:nth-child(1):hover {
    opacity: 0;
}

div > img:nth-child(1){
    position: absolute;

}


.bottom > img{
    height: 150px;
    width: 100px;
}

h1{
    margin: 0px;
    font-family: h1_font;
    color: rgba(255, 255, 255, 0.7);
    font-size: 60px;
}

h2{
    font-family: h2_font;
}

h4{
    font-family: h4_font;
}

.album_container{
    display: grid;
}

.under_album{
    display: flex;
    justify-content: space-around;
    border-radius: 0px 0px 0px 10px;
    font-weight:bolder;
    color: #881f5a;
    gap: 3%;
}

.under_album > :first-child{
    border-radius: 0px 0px 0px 10px;
    flex-basis: 49%;
    background-color: #dfc300;
    font-family: list_font;
}

.under_album > :last-child{
    border-radius: 0px 0px 10px 0px;
    flex-basis: 49%;
    background-color: #dfc300;
}
.bottom{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    grid-column: 1 / span 2;
    gap: 0.3%;
}
.bottom > p{
    padding: 20px 20px;
    margin: 0px;
    background-color: #881f5a;
    color: #dfc300;
}

.bottom > p:nth-child(1){
    border-radius: 10px 0px 10px 10px;
}

.bottom > p:nth-child(2){
    border-radius: 10px 10px 10px 0px;
    grid-column:  5 / 7;
}

.bottom > p:nth-child(3){
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(images/chas_chandler.jpg);
    color: white;
    grid-column: 7;
    border-radius: 0px 10px 10px 10px;
}

.bottom > p:nth-child(4){
    border-radius: 10px 10px 0px 10px;
}
